<section id="about" class="about-section">
  <div class="container">
    <div class="about-content">
      <img src="/img/about.png" alt="About Me" class="about-image">
      <p class="about-text">
        Welcome to my portfolio! I am a passionate illustrator and designer with a love for creativity and storytelling. 
        My work spans various mediums, from digital illustrations to traditional sketches. 
        Feel free to explore my portfolio and get in touch if you'd like to collaborate!
      </p>
    </div>
  </div>
</section>